{% extends 'base.html' %} {% block content %}

<div class="header">
    <div class="header__bg"></div>
    <div class="row">
        <div class="col s12">
            <h3 class="list-heading">{{collection_name}}</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <form action="/{{username}}/{{collection_name}}/{{collection_id}}/add_item" method="POST">
                        <div class="input-field col s12">
                            <input type="text" class="validate" name="collection_item_name" placeholder="Add item" required />
                        </div>
                        <div class="input-field col s12">
                            <input type="text" class="validate" name="collection_item_description" placeholder="Add description" required/>
                        </div>
                        <div class="input-field col s12">
                            <select name="bullet" class="selectpicker form-control">
                                <option value="todo">&#x26AB; : To Do</option>
                                <option value="event">&#x26AA; : Event</option>
                                <option value="note">&#xff0d; : Note</option>
                                </select>
                        </div>

                        <div class="input-field col s12">
                            <select name="future_log" class="selectpicker form-control">
                                <option value="not set">Set Later</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March" >March</option>
                                <option value="April">April</option>
                                <option value="May" >May</option>
                                <option value="June">June</option>
                                  <option value="July">July</option>
                                    <option value="August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                </select>
                        </div>
                            
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">today</i>
                                <input id="due_date" name="due_date" type="text" class="datepicker">
                                <label for="due_date">Due Date</label>
                            </div>
                        </div>
                        <input type="checkbox" name="checkbox_id" id="checkbox_id" value="important">
                            <label for="checkbox_id"><i class="fas fa-asterisk"></i>: Important</label>
                            
                        
                        <div class="col s12 center-align" id="add-collection-item-button">
                            <button class="btn waves-effect waves-light" type="submit" value="ADD">ADD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <a class="btn waves-effect waves-light" href="{{ url_for('view_collection_by_user', username=username, collection_name=collection_name, collection_id=collection_id) }}">
                Cancel
            </a>
                </div>
            </div>
        </div>
</div>

{% endblock %}
