{% extends 'base.html' %} {% block content %}
<div class="header">
    <div class="header__bg"></div>
    <div class="row">
        <div class="col s12">
            <h3 class="list-heading">Edit Collection Item</h3>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3>{{collection_name}}</h3>
                    {% for i in collection.collection_items %} {% if i.item_id|string() == item_id|string() %}
                    <form action="/{{username}}/update_collection_item/{{collection_name}}/{{collection_id}}/{{i.item_id}}" method="POST">
                        <input name="{{i.item_id}}" type="text" value="{{i.collection_item_name}}">
                        <input type="text" name="collection_item_description"  value="{{i.description}}" />
                        <select name="item_bullet" class="selectpicker form-control" >
                                <option value="todo"  {% if i.item_bullet == "todo" %}selected="selected"{% endif %}>&#x26AB; : To Do</option>
                                <option value="event"  {% if i.item_bullet == "event" %}selected="selected"{% endif %}>&#x26AA; : Event</option>
                                <option value="note"  {% if i.item_bullet == "note" %}selected="selected"{% endif %}>&#xff0d; : Note</option>
                                </select>
                       
                      
                     <select name="future_log" class="selectpicker form-control">
                                <option value="not set" >Set Later</option>
                                 <option value="January" {% if i.future_log == "January" %} selected="selected"{% endif %}>January</option>
                                  <option value="February" {% if i.future_log == "February" %} selected="selected"{% endif %}>February</option>
                                   <option value="March" {% if i.future_log == "March" %} selected="selected"{% endif %}>March</option>
                                    <option value="April" {% if i.future_log == "April" %} selected="selected"{% endif %}>April</option>
                                     <option value="May" {% if i.future_log == "May" %} selected="selected"{% endif %}>May</option>
                                      <option value="June" {% if i.future_log == "June" %} selected="selected"{% endif %}>June</option>
                                  <option value="July" {% if i.future_log == "July" %} selected="selected"{% endif %}>July</option>
                                    <option value="August" {% if i.future_log == "August" %} selected="selected"{% endif %}>August</option>
                                    <option value="September" {% if i.future_log == "September" %} selected="selected"{% endif %}>September</option>
                                    <option value="October" {% if i.future_log == "October" %} selected="selected"{% endif %}>October</option>
                                    <option value="November"  {% if i.future_log == "November" %} selected="selected"{% endif %}>November</option>
                                    <option value="December" {% if i.future_log == "December" %} selected="selected"{% endif %}>December</option>
                                </select>
                                
                        <div class="input-field col s12">
                            <i class="material-icons prefix">today</i>
                            <input id="due_date" name="due_date" type="text" class="datepicker" value="{{i.due_date}}">
                            <label for="due_date">Due Date</label>
                        </div>
                        <div class="row">
                        <div class="col s12">
                            {% if i.importance=="important" %}
                         <input type="checkbox" name="checkbox_id" id="checkbox_id" value="important" checked>
                         {% else %}
                         <input type="checkbox" name="checkbox_id" id="checkbox_id" value="important" >
                         {% endif %}
                            <label for="checkbox_id"><i class="fas fa-asterisk"></i>: Important</label>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col s12 center-align">
                     <input class="btn waves-effect waves-light" type="submit" value="Update" />
                     </div>
                     </div>
                    </form>
                    
                    {% endif %} {% endfor %}

                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <a class="btn waves-effect waves-light" href="{{ url_for('view_collection_by_user', username=username, collection_name=collection_name, collection_id=collection_id) }}">
                Cancel
            </a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
