{% extends 'base.html' %} {% block content %}

<div class="header">
    <div class="header__bg"></div>
    <div class="row">
        <div class="col s12">
            <h3 class="list-heading">{{username}}'s Future Log 2018</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">


        <div class="row">
            <div class="col s12 unassigned">


                <h4 class="center-align">Unassigned Items</h4>

                <!--           {% if user_collections %} {% for collections in user_collections %}
                    <div>
                        <a href="/{{username}}/{{collections.name}}"><i class="fas fa-plus-circle"></i>  {{collections.name}}</a>
                        <ul class="future_log_unassigned">
                            {% for collection_items in collections.collection_items %} {% if collection_items.future_log == 'not set' %}

                            <li tabindex="-1">{{collection_items.description}}</li>
                            {% endif%} {% endfor %}
                        </ul>
                    </div>
                    {% endfor %} {% else %}
                    <p>You have no lists!</p>
                    {% endif %}
            -->

                <form action="/{{username}}/add_future_log" method="POST">
                    <div class="row">
                        <div class="col s6">
                            <div class="radio_buttons">
                                <div id="futuremonthitem">
                                    {% if user_collections %} {% for collection in user_collections %} {% for collection_items in collection.collection_items %} {% if collection_items.future_log == 'not set' %}
                                    <label><input type="radio" name="futuremonthitem" value="{{collection._id}} {{collection_items.item_id}} {{collection_items.collection_item_name}} "><span>{{collection_items.description}}</span></label> {% endif%}
                                    {% endfor %} {% endfor %} {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="radio_buttons">
                                <div id="months">
                                    <label><input type="radio" name="month" value="July"><span>July</span></label>
                                    <label><input type="radio" name="month" value="August"><span>August</span></label>
                                    <label><input type="radio" name="month" value="September"><span>September</span></label>
                                    <label><input type="radio" name="month" value="October"><span>October</span></label>
                                    <label><input type="radio" name="month" value="November"><span>November</span></label>
                                    <label><input type="radio" name="month" value="December"><span>December</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn waves-effect waves-light" type="submit" />assign</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>



        <div class="col s12 calendar">
            <div class="col s12 calendar_row">
                <div class="col s12 m12 l6 calendar_month card z-depth-5">

                    <h3 class="card-title">July</h3>
                    {% if user_collections %} 
                    <div class="card-content">
                        <ul>
                            {% for collections in user_collections %}
                            {% for collection_items in collections.collection_items %} {% if collection_items.future_log == 'July' %}
                            <li> 
                            {% if collection_items.status == "done" %} <strike> &#x58; {% endif %}
                            {% if collection_items.importance == "important" %}<span class="status"> &#x1f7b7; </span> {% endif %}
                            {% if collection_items.item_bullet == "todo" %}&#x23fa;{% endif %}
                            {% if collection_items.item_bullet == "note" %}&#xff0d;{% endif %}
                            {% if collection_items.item_bullet == "event" %}&#x2b58;{% endif %}
                            
                             <a href="/{{username}}/edit_collection_item/{{collections.name}}/{{collections._id}}/{{collection_items.item_id}}" title="Edit Item" class="collection-item"><i class="fas fa-plus-circle"></i> {{collection_items.collection_item_name}} </a>
                            {% if collection_items.due_date %}  {% endif %}
                           
                            {% if collection_items.status == "done" %} </strike> {% endif %}
                            
                                        
                                <form class="secondary-content" action="/{{username}}/collection_item_done/{{collections.name}}/{{collections._id}}/{{collection_items.item_id}}" method="POST">
                                    <input name="item_id" type="hidden" value="{{collection_items.item_id}}">
                                    <button class="btn waves-effect waves-light fut_btn" type="submit" title="Mark as Done"/>&#x58;</button>
                                </form>
                                <form class="secondary-content" action="/{{username}}/collection_item_push/{{collections.name}}/{{collections._id}}/{{collection_items.item_id}}" method="POST">
                                    <input name="item_id" type="hidden" value="{{collection_items.item_id}}">
                                    <input name="month" type="hidden" value="August">
                                    <button class="btn waves-effect waves-light fut_btn" type="submit" title="Migrate to Next Month"/>&#x2794;</button>
                                </form>
                                </li>
                                                                                                {% endif%} {% endfor %}{% endfor %}
                        </ul>
                    </div>
                     {% else %}
                    <p>You have no lists!</p>
                    {% endif %}

                </div>
                <div class="col s12 m12 l6 calendar_month card z-depth-5">
                    <h3 class="card-title">August</h3>
                    {% if user_collections %} 
                    <div class="card-content">
                        <ul>
                            {% for collections in user_collections %}
                            {% for collection_items in collections.collection_items %} {% if collection_items.future_log == 'August' %}
                            <li>&#x{{collection_items.item_bullet}}; {{collection_items.collection_item_name}}</li>
                            {% endif%} {% endfor %} {% endfor %} 
                        </ul>
                    </div>
                   {% else %}
                    <p>You have no lists!</p>
                    {% endif %}
                </div>
            </div>
            <div class="col s12 calendar_row">
                <div class="col s12 m12 l6 calendar_month card z-depth-5">
                    <h3 class="card-title">September</h3>
                    {% if user_collections %} 
                    <div class="card-content">
                         <ul>
                             {% for collections in user_collections %}
                            {% for collection_items in collections.collection_items %} {% if collection_items.future_log == 'September' %}
                            <li>&#x{{collection_items.item_bullet}}; {{collection_items.description}}</li>
                            {% endif%} {% endfor %} {% endfor %}
                        </ul>
                    </div>
                     {% else %}
                    <p>You have no lists!</p>
                    {% endif %}
                </div>
                <div class="col s12 m12 l6 calendar_month card z-depth-5">
                    <h3 class="card-title">October</h3>
                    {% if user_collections %} 
                    <div class="card-content">
                        <ul>
                            {% for collections in user_collections %} {% for collection_items in collections.collection_items %} {% if collection_items.future_log == 'October' %}
                            <li>&#x{{collection_items.item_bullet}}; {{collection_items.description}}</li>
                             {% endif%} {% endfor %} {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                    <p>You have no lists!</p>
                    {% endif %}
                </div>
            </div>
            <div class="col s12 calendar_row">
                <div class="col s12 m12 l6 calendar_month card z-depth-5">
                    <h3 class="card-title">November</h3>
                    {% if user_collections %} 
                    <div class="card-content">
                        <ul>
                            {% for collections in user_collections %}
                            {% for collection_items in collections.collection_items %} {% if collection_items.future_log == 'November' %}
                            <li>&#x{{collection_items.item_bullet}}; {{collection_items.description}}</li>
                            {% endif%} {% endfor %}{% endfor %}
                        </ul>
                    </div>
                     {% else %}
                    <p>You have no lists!</p>
                    {% endif %}
                </div>
                <div class="col s12 m12 l6 calendar_month card z-depth-5">
                    <h3 class="card-title">December</h3>
                    {% if user_collections %} 
                    <div class="card-content">
                         <ul>
                             {% for collections in user_collections %}
                            {% for collection_items in collections.collection_items %} {% if collection_items.future_log == 'December' %}
                            <li>&#x{{collection_items.item_bullet}}; {{collection_items.description}}</li>
                            {% endif%} {% endfor %} {% endfor %} 
                        </ul>
                    </div>
                    {% else %}
                    <p>You have no lists!</p>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}

