{% extends 'base.html' %} {% block content %}

<div class="header">
    <div class="header__bg"></div>
    <div class="row">
        <div class="col s12">
            <h3 class="list-heading"> Hi {{ username }}</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col s12 ">
                    <h2 class="index_header">Index</h2>
                    <ul id="index_list">
                        <li><input type="hidden" name="username" value="{{username}}" />
                           <a href="/{{username}}/show_future_log"><i class="material-icons">star</i> Future Log</a>
                        </li>
                        <li><input type="hidden" name="username" value="{{username}}" />
                            <a href="/{{username}}/get_collections"><i class="material-icons">star</i> Collections</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
